body {
  background-color: #e6e6e6;
}

h2 {
 color: #7300e6;
}

img {
  width: 320px;
  height: 212.6667px;
  border-radius: 50%;
}

.border {
  border-style: solid;
  border-color: #7300e6;
  margin-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}
